/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body{
  background-color: #10172a;
}

 @theme{
  --color-chestnut: #7B3F00;
 }
 @layer base {
  h1{
    font-size: var(--text-2xl);
  }
 }  /* change the style of the h1 element to have a font size of 2xl globally across the application. */
@layer components {
  .btn{
    @apply bg-chestnut text-white font-bold py-2 px-4 rounded;
  }
 } /* create a custom button component with a chestnut background, white text, bold font, padding, and rounded corners. */